/*Selector universal */

 *{

    padding: 0 ;
    margin: 0 ;
 }

 /*Selector ID */

 #contenedor {
    width: 1400px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
 }

 #encabezado {
    
    height: 10%;
    background-color: rgb(21, 207, 157);
    margin: 0em;
 }


 #menu {
    height: 10%;
    background-color: rgb(137, 159, 223);
    margin: 0em;
 }

 #contenido {
    height: 70%;
    width: 77%;
    background-color: white;
    margin: 0.5em;
    float: left;

 }

 #fuerasSeccion {
    height: 70%;
    width: 20%;
    background-color: rgb(186, 247, 209);float: right;
    margin: 0.5em;
    border-radius: 4px;

 }
 #pie {
    height: 5%;
    background-color: rgb(154, 154, 154);
    border-radius: 1em;
    margin: 1.5em;
    
 }

 /*Selector de clase */

 .texto{
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
 }
 .encabezado_articulo {
    text-align: left;
    background: rgb(187, 202, 252);
    color: rgb(0, 0, 0);
    margin: auto 1em;
    padding: 10px;
    font-family: Tahoma;
 }

 .imagenes {
    display:block ;
    border: 1px solid #ddd;
    margin-left: 1%;
    margin: 1%;
    border-radius: 10px;
    width: 300px;
 }

/* Selector de etiquet*/

ul {

   text-align:left;
}


li{
   display: inline;
   padding-left: 6px;
   padding-right: 6px;
   text-align: center;
}

a{
   text-decoration: none;
   color: black;
}
header{
   display: flex;
   justify-content: space-between;
   height: 70px;
   align-items: center;
   background-color: rgb(131, 160, 255);
   padding: 10px;
   margin: 1em;
   border-radius: 10px;
}

.logo{
   display: flex;
   align-items: center;
   
}

.logo img {
   height: 50px;
   border-radius: 100px;
   margin-right: 10px;
}

.body {
   font-family:  sans-serif;
   margin: 0;
}
nav a{
   font-weight: 600;
   padding-right: 10px;
   font-family:  sans-serif;
   font-size: 20px;
}

nav a:hover{
   color: white;
}