/*Selector universal */

 *{

    padding: 0 ;
    margin: 0 ;
 }

 /*Selector ID */

 #contenedor {
    width: 1400px;
    height: 840px;
    background-color: rgb(255, 255, 255);
 }

 #encabezado {
   display: flex;
   justify-content: center;
   height: 70px;
   align-items: center;
   background-color: rgb(131, 160, 255);
   padding: 10px;
   margin: 1em;
   border-radius: 10px;
 }

 #encabezado h2{
   margin-left: 8px;
 }


 #menu {
    display: flex;
    justify-content: center;
    height: 5%;
    background-color: rgb(137, 159, 223);
    margin: 1em;
    border-radius: 10px;
    margin: auto 1em;
    padding: 10px;
    align-items: center;
    
 }

 #menu a{
   font-weight: 600;
   padding-right: 10px;
   font-family:  sans-serif;
   font-size: 20px;
   margin-top: 2%;
}

#menu a:hover{
   color: white;
}

 #contenido {
    height: 70%;
    width: 77%;
    background-color: white;
    margin: 0.5em;
    float: left;
 }

 #fuerasseccion {
    height: 50%;
    width: 20%;
    background-color: rgb(255, 255, 255);float: right;
    margin: 0.5em;
    border-radius: 4px;
 }
#fuerasseccion h3{
   
   text-align: center;
} 

 #pie {
    height: 1%;
    width: 1400px;
    background-color: white;
    margin: 1em;
    text-align: center;
    padding-top: 50px;

    
 }

 /*Selector de clase */

 .texto{
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
 }
 .encabezado_articulo {
    text-align: left;
    background: rgb(187, 202, 252);
    color: rgb(0, 0, 0);
    margin: auto 1em;
    padding: 10px;
    border-radius: 10px;
    font-family: Tahoma;
 }

 .imagenes {
    display:block ;
    border: 1px solid #ddd;
    margin-left: 1%;
    margin: 1%;
    border-radius: 10px;
    width: 300px;
 }

/* Selector de etiquet*/

ul {

   text-align:left;
}


li{
   display: inline;
   padding-left: 6px;
   padding-right: 6px;
   text-align: center;
}

a{
   text-decoration: none;
   color: black;
}


.logo{
   display: flex;
   align-items: center;
   
}

.logo img {
   height: 50px;
   border-radius: 100px;
   margin-right: 10px;
}

.body {
   font-family:  sans-serif;
   margin: 0;
}

aside a img {
   width: 300px;
}